@keyframes border_rotate {
	from {
		background-position: -3000px;
	}

	to {
		background-position: 0px;
	}
}

.gradient_rainbow {
	animation: border_rotate 5s infinite linear;
	background:
		linear-gradient(to right,
			rgba(48, 255, 144, 1) 0%,
			rgba(237, 45, 237, 1) 25%,
			rgba(201, 152, 38, 1) 50%,
			rgba(48, 255, 230, 1) 75%,
			rgba(48, 255, 144, 1) 100%);
}